.movie-box-sec {
    width: 1200px;
    margin: 20px auto;

    position: relative;
    height: 400px;
}

.banner-art-container {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/sonic-banner-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 30px;
    color: #ffffff;
    cursor: pointer;
}

.banner-art-title {
    font-size: 32px;
    font-weight: normal;
    letter-spacing: 1px;

    width: 34%;
    margin-bottom: 10px;
}

