.create-movie-form {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 400px;
    height: 500px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 14px;

    padding: 10px 30px 30px;
}

.create-movie-form>label {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 47%;
    font-size: 18px;
}


.input-el-m {
    margin: 2px 0 10px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    color: #ffffff;
    outline: none;
}

