.movie-card-element {
    background-color: rgba(27, 25, 25, 0.868);
    color: #ffff;

    margin: 30px auto;
    width: 270px;
    height: 450px;

    border-radius: 10px;
}

.movie-card-element>img {
    width: 100%;
    height: 70%;
    object-fit: fill;

    border-radius: 10px 10px 0 0;
}