.movies-list {
    width: 1200px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
    list-style: none;

    margin: 0 auto 30px;
    padding: 0;
}

.mv-genres-ul {
    margin-top: 40px;
    list-style: none;
    color: #ffffff;
}

.mv-li-item {
    font-size: 18px;
    cursor: pointer;
    color: rgb(135, 135, 135);
    padding: 8px 0 8px 12px;
}

.mv-li-item.actv {
    color: #ffffff;
}

