.movie-card-element {
    color: #ffff;

    margin: 30px auto;
    width: 220px;
    height: 320px;

    transition: 0.5s;
}

.movie-card-element:hover {
    transform: scale(1.1);
}

.movie-card-element>img {
    width: 100%;
    height: 100%;
    object-fit: fill;

    border-radius: 10px ;
}

.movie-card-title {
    font-size: 17px;
}

.movie-hr {
    background-color: #ffff;
    border: none;
    height: 1px;
    width: 90%;
}

.mv-el {
    margin: 0;
    padding: 4px 8px 4px 16px;
}

.movie-card-type {
    font-size: 16px;

    font-weight: normal;
}

.movie-card-year {
    position: absolute;
    bottom: 10px;
    left: 16px;

    font-weight: normal;
    font-size: 16px;
    padding: 0;
}