.movie-card-element {
    background-color: rgba(0, 0, 0, 0.963);
    width: 250px;
    height: 400px;
    color: #ffff;
}

.movie-card-element>img {
    width: 100%;
    height: 70%;
    object-fit: fill;
}