.site-header {
    background-image: url('../../assets/theater.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -200px;
    position: relative;

    width: 100%;
    height: 90vh;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.header-nav>a {
    color: #ffff;
    font-weight: bold;
    text-decoration: none;
    padding: 0 16px;
}

.header-logo-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-title {
    color: #ffff;
}

.header-img-art {
    width: 60px;
    height: 60px;
}

.header-img-art>img {
    width: 100%;
    height: 100%;

    object-fit: contain;
}