.site-header {
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 1) 0,
            rgba(0, 0, 0, 0.2) 60%,
            rgba(0, 0, 0, 1) 100%),
        url('../../assets/movies-collage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    width: 100%;
    height: 95vh;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.header-title {
    font-size: 34px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #ffffff;
}

.header-nav {
    display: flex;
    gap: 2rem;
    height: 45px;
}

.header-nav>a {
    color: #ffff;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 0;
    margin: 2px 0;
    letter-spacing: 1px;
}

.header-nav>a:hover {
    border-bottom: 2px solid rgb(255, 0, 0);
}

.header-logo-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-img-art {
    width: 60px;
    height: 60px;
}

.header-img-art>img {
    width: 100%;
    height: 100%;

    object-fit: contain;
}