.explr-img-sec.flm-flp-img {
    width: 420px;
    height: 280px;
    position: relative;
}

.explr-img-sec.flm-flp-img>.popcorn-bag {
    position: absolute;
    top: -10px;
    left: -50px;
    width: 200px;
    height: 260px;
}

.explr-img-sec.flm-flp-img>.flm-flp {
    width: 400px;
    height: 240px;
}