.home-title {
    position: absolute;
    top: calc((750px - 3.5rem) / 2);
    left: 50%;
    transform: translateX(-50%);

    max-width: 1200px;
    width: 68%;
    text-align: center;
    font-size: 3.5rem;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
    letter-spacing: 2px;
    line-height: 60px;
    color: #ffffff;
}