.mv-collage-img-art {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.9)),
        url('../../assets/movies-collage.jpg');
        
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    height: 660px;
}

.mv-collage-img-art>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}