.site-footer {
    background-color: rgb(117, 14, 14);
    height: 12vh;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 34px 0;
    height: 100%;
}

.footer-title {
    color: #ffffff;
    letter-spacing: 1px;
}