.site-footer {
    background-color: rgb(0, 0, 0);
    
    position: absolute;
    height: 16%;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 34px 0;
    height: 100%;
}

.footer-title {
    color: #ffffff;
    letter-spacing: 1px;
}