.movie-card-details {
    width: 1200px;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    gap: 6rem;

    color: #ffffff;
}

.mv-card-img-d>img {
    width: 360px;
    height: 500px;
    object-fit: fill;
    border-radius: 20px;
    box-shadow: 0.5em 1em 1em rgb(64 64 70);
}

.mv-card-ttl {
    font-size: 40px;
    text-align: center;
    letter-spacing: 1px;
}

.mv-card-type.dt-el {
    margin: 30px 0;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center;
}

.mv-card-overview {
    margin: 20px 0;
    font-size: 28px;
    font-weight: normal;
    letter-spacing: 1px;
}

.mvs-card-description.dt-el {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 40px;
}

.mv-card-year.dt-el {
    font-size: 26px;
    letter-spacing: 2px;
}

.dtls-del-btn {
    background-color: rgb(255, 0, 0);
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
}

.dtls-del-btn:hover {
    background-color: rgb(108, 9, 9);
    cursor: pointer;
}

.mv-dtls-video {
    width: 1200px;
    margin: 50px auto;
    
    display: flex;
    justify-content: center;
}