.site-sec {
    height: 450px;
    border-top: 10px solid rgb(59, 59, 59);
    border-bottom: 10px solid rgb(59, 59, 59);
    color: #ffffff;
}

.explr-mv-wrapper {
    width: 1200px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.explr-mv-content {
    width: 50%;
    line-height: 24px;
}


.explr-img-sec {
    width: 350px;
    height: 350px;
}

.explr-img-sec>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}