@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: rgb(10, 10, 10);
    font-family: 'Montserrat', sans-serif;
    position: relative;
    min-height: 100%;
    padding-bottom: 246px;
}

::-webkit-scrollbar {
    width: 0.5rem;
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 2px;
}

::-webkit-scrollbar-corner {
    background-color: #ffffff;
    border-radius: 1px;
}