@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: rgb(10, 10, 10);
    font-family: 'Montserrat', sans-serif;
    position: relative;
    min-height: 100%;
    padding-bottom: 246px;
}

::-webkit-scrollbar {
    width: 0.5rem;
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 2px;
}

::-webkit-scrollbar-corner {
    background-color: #ffffff;
    border-radius: 1px;
}

@media only screen and (max-width: 1200px) {
    div.header-wrapper {
        padding: 10px 20px;
        width: unset;
    }

    .site.sec {
        height: unset;
    }


    .explr-mv-wrapper {
        flex-direction: column;
        gap: 1.5rem;
        padding: 20px;
    }

    .explore-movies.site-sec:nth-child(4)>div {
        flex-direction: column-reverse;
    }

    .explore-movies.site-sec {
        height: unset;
    }

    article.explr-mv-content {
        width: 80%;
    }

    div.explr-mv-wrapper {
        width: unset;
    }

    img.gallery-img.scl {
        transform: scale(1);
    }

    article.gallery-img-art {
        height: 420px;
    }


    /* movies */
    .movie-box-sec {
        display: none;
    }

    input.title-mv-srch {
        width: 100%;
    }

    main {
        padding: 0 20px 30px;
        padding-bottom: 30px;
    }

    div.container {
        width: unset;
        justify-content: space-around;
        margin-bottom: 30px;
        padding: 0 20px;
    }

    ul.movies-list {
        justify-content: space-around;
        width: unset;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .movie-card-link {
        width: 80%;
    }

    li.movie-card-element {
        width: unset;
        height: unset;
    }
 
    /* details */
    article.movie-card-details {
        width: unset;
        flex-direction: column;
    }

    section.mv-dtls-video {
        width: unset;
    }

    article.mv-card-img-d>img {
        width: 80%;
        height: unset;
    }

    .mv-card-img-d {
        text-align: center;
    }

    /* login/register */
    form.input-form {
        width: 80%;
        padding: 12px 22px;
    }

    button.red-btn {
        border: none;
    }

    /* create */
    form.create-movie-form {
        width: 60%;
        height: unset;
        display: block;
    }

    form.create-movie-form>label {
        width: 100%;
    }

    button.btn.submit {
        border: none;
        margin: 8px 0;
        height: 30px;
    }
}